@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: 'icomoon';
	src: url('../../img/icon/icomoon/icomoon.eot');
	src: url('../../img/icon/icomoon/icomoon.eot?#iefix')
		format('embedded-opentype'),
		url('../../img/icon/icomoon/icomoon.woff') format('woff'),
		url('../../img/icon/icomoon/icomoon.ttf') format('truetype'),
		url('../../img/icon/icomoon/icomoon.svg#icomoon') format('svg');
}

@keyframes loading { 
	0%{
		transform: translateX(-140px);
		opacity: 0
	}
	50%{
		transform:translateX(0px);
		opacity:1
	}
	100%{
		transform:translateX(140px);		
		opacity:0
	}
}

.background_wrap{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1;
	top: 0;
	left: 0;
	background: #a5a5a59c;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.cover{
	background: whitesmoke;
	display: flex;
	justify-content: center;
	flex-direction: column;
	width: 500px;
	height: 120px;
	align-self: center;
	border-radius: 4px;
}

.loading{
	text-align: center;
}

.loading-dot {
	display: inline-block;
	height: 10px;
	width: 10px;
	opacity: 0;
	border-radius: 50%;
	background-color: #4b9cdb
}

.loading-dot-1 {
	animation: loading 2s infinite;
	animation-delay: .6s
}

.loading-dot-2 {
	animation: loading 2s infinite;
	animation-delay: .5s
}

.loading-dot-3 {
	animation: loading 2s infinite;
	animation-delay: .4s
}

.loading-dot-4 {
	animation: loading 2s infinite;
	animation-delay: .3s
}

.loading-dot-5 {
	animation: loading 2s infinite;
	animation-delay: .2s
}

.loading-dot-6 {
	animation: loading 2s infinite;
	animation-delay: .1s
}

.right_content .title {
	border-bottom: 1px solid #eee;
	padding: 5px;
	font-size: 18px;
	font-weight: 600;
	color: #6D6D6D;
}

.course_container{
}

.top_side{
	width: 100%;
}

.bottom_side{
	width: 100%;
	/*display: none;*/
}

.course_list{
	padding: 10px;
}

.online{
	color: #449d44;
}

.offline{
	color: #d9534f;
}

.course_name{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.button_group{
	position: relative;
	padding: 25px 10px;
}

.button_group::after{
	content: "\e994";
	position: absolute;
	top: 16px;
	left: 65px;
	font-size: 14px;
	font-family: "icomoon";
	color: #adadad;
	cursor: not-allowed;
}

.button_group:hover::after{
	content: "课程已下线，不能操作";
	position: absolute;
	font-size: 12px;
	top: 16px;
	left: 10px;
	color: #d9534f;
	cursor: not-allowed;
}

.button_group.course_arrangement_btn::after{
	content: "\e994";
	position: absolute;
	top: 16px;
	left: 65px;
	font-size: 14px;
	font-family: "icomoon";
	cursor: pointer;
	color: #1d96e8;
}

.button_group.course_arrangement_btn:hover::after{
	content: "管理报名学生";
	position: absolute;
	font-size: 12px;
	top: 16px;
	left: 35px;
	color: #1d96e8;
}

.course_arrangement{
	padding: 10px;
}

.course_title{
	display: flex;
	justify-content: space-between;
	border: 1px solid #ccc;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	padding: 5px 10px;
}

.course_name{
	font-weight: bold;
	color: #337ab7;
	line-height: 24px;
}

.return_button{
	font-size: 12px;
	padding: 2px 8px;
	line-height: 18px;
	border-radius: 2px;
}

.feature_group{
	border: 1px solid #ccc;
	border-top: 0;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.feature_title{
	position: relative;
	padding: 8px 10px;
	font-size: 12px;
	font-weight: bold;
	color: #666;
	background: #f7f7f7;
	cursor: pointer;
}

.feature_group .feature_panel:not(:last-child) .feature_title{
	border-bottom: 1px solid #ccc;
}

.feature_group .feature_panel:not(:last-child) .collapsing{
	border-bottom: 1px solid #ccc;
}

.feature_group .feature_panel:not(:last-child) .in{
	border-bottom: 1px solid #ccc;
}

.feature_group .feature_panel:last-child .collapsing{
	border-top: 1px solid #ccc;
}

.feature_group .feature_panel:last-child .in{
	border-top: 1px solid #ccc;
}

.feature_content {
	padding: 10px;
}

.class_list{
	display: flex;
	flex-wrap: wrap;
}

.class_item{
	width: 20%;
	padding: 10px;
	position: relative;
}

.class_delete{
	position: absolute;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	font-family: "icomoon";
	background: #ccccccb3;
	color: white;
	font-size: 9px;
	line-height: 22px;
	text-align: center;
	top: 0;
	right: 0;
	cursor: pointer;
}

.class_delete:hover{
	background: red;
}

.class_title{
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.class_content{
	display: none;
	position: absolute;
	width: 450px;
	border: 1px solid #46b8da;
	border-radius: 4px;
	padding: 5px;
	background: white;
	z-index: 1;
	top: 55px;
	left: -140px;
}

.class_list .class_item:nth-child(5n+1) .class_content{
	left: -11px;
}

.class_list .class_item:nth-child(5n) .class_content{
	left: -261px;
}

.class_content::before{
	content: "";
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 9px solid #46b8da;
	position: absolute;
	top: -9px;
	left: 215px;
}

.class_list .class_item:nth-child(5n+1) .class_content::before{
	left: 85px;
}

.class_list .class_item:nth-child(5n) .class_content::before{
	left: 338px;
}

.class_name, .course_length{
	display: flex;
}

.class_name label, .course_length label, .class_student label{
	font-weight: 500;
	color: #666;
}

.class_student label{
	width: 100%;
}

.class_student label>.btn{
	float: right;
	font-size: 11px;
}

.class_student label>.badge{
	background: #47d0ec;
}

.class_student>div{
	border: 1px solid #bce8f1;
	border-radius: 2px;
	display: flex;
	flex-wrap: wrap;
	padding: 10px 5px 0px 5px;
}

.class_student>div .label{
	font-size: 80%;
	width: 97px;
	height: 17px;
	cursor: pointer;
	margin-right: 8px;
	margin-bottom: 10px;
	position: relative;
	
}

.class_student>div .label:not(:first-child){
	cursor: default;
	width: 80px;
	margin-right: 25px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.class_student>div .label .user_tel{
	display: none;
}

.class_student>div .label:hover .user_tel{
	display: block;
}

.class_student>div .label:hover .student_name{
	display: none;
}

.class_student>div .label .student_delete{
	position: absolute;
	height: 17px;
	width: 17px;
	line-height: 15px;
	background: #ccccccb3;
	top: 0;
	right: -17px;
	border-top-right-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
	cursor: pointer;
	font-family: "icomoon";
}

.class_student>div .label .student_delete.selected{
	color: #d9534f;
}

#tool_bar{
	padding: 10px 0px;
	display: flex;
}

.search_box{
	display: flex;
}

.confirm, .add, .batchmove, .batchdelete{
	line-height: 28px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #fff;
	cursor: pointer;
	padding: 0 10px;
	margin: 0 5px;
}

.add{
	color: #fff;
	background-color: #5cb85c;
	border-color: #4cae4c;
}

.batchdelete{
	cursor: not-allowed;
	color: #fff;
	background-color: #d9534f;
	border-color: #d43f3a;
	opacity: 0.45;
}

.batchdelete.usable{
	cursor: pointer;
	opacity: 1;
}

.batchmove{
	cursor: not-allowed;
	color: #fff;
	background-color: #337ab7;
	border-color: #2e6da4;
	opacity: 0.45;
}

.batchmove.usable{
	cursor: pointer;
	opacity: 1;
}

#search_keyword{
	width: 166px;
	height: 30px;
}

.student_list{
	padding-bottom: 10px;
}

.operation_btn{
	padding: 5px;
}

.operation_btn .update, .operation_btn .delete{
	cursor: pointer;
	padding: 4px 8px;
	margin: 0 5px;
	color: #1d96e8;
	border-radius: 4px;
}

.operation_btn .update:hover, .operation_btn .delete:hover{
	background: white;
}

#add_modal .modal-dialog{
	margin-top: 190px;
}

.modal-body .buttons{
	display: flex;
	justify-content: flex-end;
}

.modal-body .buttons button{
	margin-left: 10px;
}

.class_add_form {
	padding-top: 10px;
	padding-right: 10px;
}

.class_add_form .form-group{
	margin-bottom: 20px;
}

.class_add_form .form-group label{
	font-weight: 500;
}

.class_add_form .form-group .textbox{
	border-radius: 4px;
}

#add_modal .form-group .textbox input{
	padding-left: 12px;
}

#class_name_input+label.error{
	position: absolute;
	color: red;
	font-size: 12px;
}

#add_modal_class+label.error, #user_tel+label.error{
	position: absolute;
	top: 34px;
	left: 15px;
	font-size: 12px;
	font-weight: normal;
	color: red;
}

.student_add_form{
	padding: 10px;
}

.student_add_form .form-group{
	display: flex;
	margin-bottom: 20px;
}

.student_add_form .form-group>label{
	width: 20%;
	text-align: center;
	line-height: 34px;
	margin: 0;
	font-weight: normal;
}

.student_add_form .form-group .textbox{
	border-radius: 4px;
}

#student_name_input+label.error{
	position: absolute;
	color: red;
	font-size: 12px;
	font-weight: normal;
}

#warn_modal .modal-dialog{
	margin-top: 190px;
}

#warn_modal .warn_content div{
	display: flex;
	padding: 10px 0;
}

#warn_modal .warn_content div span{
	font-family: "icomoon";
	font-size: 25px;
	color: #e6a23c;
}

#warn_modal .warn_content div p{
	color: #606266;
	font-size: 14px;
	align-self: center;
	margin: 0 10px;
}

#warn_modal .warn_content p{
	color: #e6a23c;
	font-size: 12px;
}

#edit_modal .modal-dialog{
	margin-top: 190px;
}

#edit_modal .student_move_form{
	padding: 10px;
	padding-bottom: 0px;
}

#edit_modal .form-group{
	display: flex;
}

#edit_modal .form-group label{
	width: 20%;
	text-align: center;
	line-height: 34px;
	margin: 0;
	font-weight: normal;
}

#edit_modal .form-group .textbox{
	border-radius: 4px;
} 
